<!DOCTYPE html>
<html>
<head>
<style>

body {
background-color: #5b8fae
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1c283f;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #5B8FAE;
}

.active {
    background-color: #b78882;
}
</style>
</head>
<body>

<ul>
  <li><a href="/ccg_index">Home</a></li>
  <li><a href="/ccg_index/ccg">CCGS?</a></li>
  <li><a href="/ccg_index/search">Search</a></li>
  <li style="float:right"><a class="active"  href="">About</a></li>
</ul>
	<h1 style="text-align: center;">This is a website designed for Advanced Web Tech</h1>
	<h2 style="text-align: center;">by charlie Coyle</h2>
<ul>
  <font color="white">
	<p>contact info</p>
	<p>email- 40325029@live.napier.ac.uk</p>
  </font>
  <p> 
</u1>

</body>
</html>

