
<!DOCTYPE html>
<html>
<head>
<style>

body {
 background-color: #5B8FAE;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1c283f;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #5B8FAE;
}

.active {
    background-color: #b78882;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="/ccg_index">Home</a></li>
  <li><a href="ccg_index/ccg">CCGS?</a></li>
  <li><a href="ccg_index/search">Search</a></li>
  <li style="float:right"><a href="#about">About</a></li>
</ul>

<h1 style="text-align: center;">Welcome to</h1>
<h1 style="text-align: center;">CCG Index</h1>
<ul>
  <font color="white"> <h2> Here are a few easy to play Collectable Card Games (CCGs)</h2>
  <p> 1 Base game YU-GI-OH</p>
  <p> Yu-gi-oh is a 2-player card game in which you battle your opponent with summoned monsters, spells and traps, whittle away at your opponent’s 8000 Life points and claim victory. Could you become the greatest dullest? Digital/Physical. </p>
  <a href="ccg_index/ccg/Yu-Gi-Oh"> Yu-Gi-Oh</a>
  <p> 2 Magic The Gathering</p>
  <p> Magic is a 2-play card game where you use land cards to produced mana to summon monsters and cast spells. Tap those land cards and summon your beasts, zombies or other magical creatures in an ultimate battle of wits. Digital/Physical.</p>
  <a href="ccg_index/ccg/Magic_The_gathering">Magic the Gathering</a>
  <p> 3 Gwent</p>
  <p> Gwent comes from the video game series the Witcher, in which you wage war on your opponent by strategically placing you troops on the battle field and activating your effect cards, to devastate you opponent. Can you master the game of kings?  Digital/Physical.</p>  
  <a href="ccg_index/ccg/Gwent">Gwent</a
  <p> </p> 
  </font>
  </u1>


</body>

</html>
