
<!doctype  html >
<html>
<head>
<style>
body {
background-color: #5b8fae
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1c283f;
}

li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #5B8FAE;
}

.active {
    background-color: #b78882;
}
</style>
</head>
<body>
<ul>
  <li><a href="http://set09103.napier.ac.uk:9120/ccg_index">Home</a></li>
  <li><a class="active href="">CCGS?</a></li>
  <li><a href=search>Search</a></li>
  <li style="float:right"> <a href="#about">About</a></li>
</ul>
</body>
<!--############################# -->
{% if ccg %}
<body>
<!--this is where page html goes  -->
<h1 style="text-align: center;">What is </h1>
{% if ccg =="yu-gi-oh" %}
<h1 style="text-align: center;">{{ccg}}?</h1>
<ul><font color="white">
  <h2>Basic Info</h2>
  <p>2-player(advaced rule sets allow 2v2 and 2v1)- Age 6 - Publisher: Yu-Gi-Oh )</p>
  <a href="https://www.wikihow.com/Play-Yu-Gi-Oh!">Rules<a>
  <h2>Trivia</h2>
  <p>Yu-Go-Oh is based on a Anime wich is Based on a Manga of the same names</p>
  </font>
</ul>
</body>
{% elif ccg =="magic_the_gathering" %}
<h1 style="text-align: center;">Magic The Gathering?</h1>
<ul><font color="white">
  <h2>Basic info</h2>
  <p>2-player(Two-Headed Giant rule set allows 2v2)- Age 13+ - Publisher: Wizards of the coast )</p>
  <a href="https://magic.wizards.com/en/gameplay/how-to-play">Rules<a>
  <h2>Trivia</h2>
  <p>Magic The Gathering is both a trading card and digital collectible card game created by Richard Garfield. Released in 1993 by Wizards of the Coast, Magic was the first trading card game created and it continues to thrive, with approximately twenty million players as of 2015, and over twenty billion Magic cards produced in the period of 2008 to 2016 alone.</p>
  </font>
</ul>
</body>
{% elif ccg =="gwent"%}
<h1 style="text-align: center;">Gwent?</h1>
<ul><font color="white">
  <h2>Basic info</h2>
  <p>2-player - Age 16+ - Publisher: Cd Projekt Red  )</p>
  <a href="http://gwent.wikia.com/wiki/Rules">Rules<a>
  <h2>Trivia</h2>
  <p>Gwent is based on a min game in the origonal witcher games but was later spun off into its own game and physical copies were produced </p>
  </font>
</ul>
</body>
{% else %}
<h1>{ccg}?</h1>
<h2>Sorry i don't know that one<h2>

{% endif %}

{% else %}
<body>
<!--this is where page html goes  -->
<h1 style="text-align: center;">What is</h1>
<h1 style="text-align: center;">A CCG?</h1>

<ul><font color="white">
  <h2>A CCG is a Collectable Card Game</h2>
  <p>There are many CCGs out there from Magic the Gathering to Pokémon cards where the allure of collecting cards and duelling your friends/opponents. </p>
  <h2>Types of CCGs </h2>
  <p>There are different types of CCGs, some are 2 player others can have more, some involve monster summoning, some involve mana conservation. CCGs can range from complex(later rule sets for Yu-Gi-Oh) to very simple(collectable sports cards).</p>
  </font>
</ul>

</body>
{%  endif %}
</html >






