<!DOCTYPE html>
<html>
<head>
<style>

body {
background-color: #5b8fae
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1c283f;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #5B8FAE;
}

.active {
    background-color: #b78882;
}
.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
</style>
</head>
<body>

<ul>
  <li><a href="http://set09103.napier.ac.uk:9120/ccg_index">Home</a></li>
  <li><a href= ccg >CCGS?</a></li>
  <li><a class="active" href="">Search</a></li>
  <li style="float:right"><a href="http://set09103.napier.ac.uk:9120/ccg_index/about">About</a></li>
</ul>
<h1 style="text-align: center;">Welcome to</h1>
<h1 style="text-align: center;">CCG Index Search</h1>
<div class="wrapper">
<input style="float: center;" type="search" id="mySearch" placeholder="search for something">
<button style="float: center;" onclick= 'window.open(("http://set09103.napier.ac.uk:9120/ccg_index/ccg/" + document.getElementById("mySearch").value).replace(" ", "_").replace(" ", "_"))'>search</button>
</div>
</body>
</html>

